
/* Modules */

header {
	background: #111 url(../../img/bg_header.jpg) 50% top no-repeat;
	background-size: cover;
	padding-bottom: 75px;
	position: relative;
	text-align: center;
	width: 100%;
}
.header__billboard {
	h2 {
		color: #fff;
		font-size: em(54px);
		font-weight: 400;
		margin: 1.75em 0;
		position: relative;
		z-index: 3;
		em {
			font-style: normal;
			font-weight: 700;
		}
	}
	@include breakpoint(mobile-portrait) {
		h2 {
			font-size: em(28px);
		}
	}
}
.header__logo {
	background: url(../../img/logo.png) left top no-repeat;
	background-size: 100%;
	height: 82px;
	margin: 30px auto 0 auto;
	max-width: 82px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	width: 20%;
}
.header__nav {
	background-color: #1d1d1d;
	bottom: 0;
	height: 65px;
	position: absolute;
	text-align: left;
	width: 100%;
	z-index: 3;
	&.fixed {
		margin-bottom: 0;
		position: fixed;
		top: 0;
	}
	h2 {
		background: url(../../img/logo_horizontal.png) left top no-repeat;
		background-size: 100%;
		float: left;
		margin: 9px 0;
		max-width: 200px;
		min-height: 50px;
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
	}
	nav {
		text-align: right;
		padding: 20px 0;
		a {
			border: 1px solid #1d1d1d;
			color: #fff;
			font-family: 'Montserrat', Helvetica, sans-serif;
			letter-spacing: 3px;
			margin-left: 25px;
			padding: 7px 10px;
			text-decoration: none;
			text-transform: uppercase;
			-webkit-transition: border 0.35s ease;
			-moz-transition: border 0.35s ease;
			-o-transition: border 0.35s ease;
			transition: border 0.35s ease;
			&:hover {
				border: 1px solid #444;
			}
			&.-current {
				border: 1px solid #fff;
				-webkit-transition: border 0.35s ease;
				-moz-transition: border 0.35s ease;
				-o-transition: border 0.35s ease;
				transition: border 0.35s ease;
			}
		}
	}
	@include breakpoint(mobile-portrait) {
		max-height: 85px;
		h2 { 
			background: url(../../img/logo_alt.png) left top no-repeat;
			background-size: 100%;
			margin: 12px 0;
			max-width: 35px;
		}
		nav {
			a {
				font-size: em(10px);
				margin-left: 5px;
				padding: 3px;
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
	@include breakpoint(mobile-landscape) {
		nav {
			a {
				font-size: em(12px);
				margin-left: 7px;
				padding: 5px;
				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
}

.layer {
	padding: 30px 0;
}

.next-event {
	h2 {
		margin-bottom: 20px;
		span {
			color: #1d1d1d;
			display: block;
			font-size: em(18px, 35px);
			font-weight: normal;
		}
	}	
	p {
		color: #666;
		font-family: 'Crimson Text', serif;
		font-size: em(20px);
		line-height: 26px;
	}
}

.newsletter {
	background-color: #827238;
	padding-bottom: 75px;
	padding-top: 75px;
	margin-top: 50px;
	text-align: center;
	a {
		text-align: center;
		color: #fff;
		font-family: 'Montserrat';
		letter-spacing: 3px;
		text-decoration: none;
		text-transform: uppercase;
	}
	a:hover {
		background-color: #fff;
		color: #827238;
	}
	.button {
		border: 1px solid #fff;
		display: inline-block;
		padding: 20px;
		text-align: center;
	}
}

.about {
	margin-bottom: 20px;
	h2 {
		margin-bottom: 20px;
		span {
			color: #1d1d1d;
			display: block;
			font-size: em(18px, 36px);
			font-weight: normal;
		}
	}	
	p {
		color: #666;
		font-family: 'Crimson Text', serif;
		font-size: em(20px);
		line-height: 26px;
	}
}

footer {
	background: #1d1d1d;
	color: #fff;
	//min-height: 300px;
	padding: 25px 0;
	text-align: center;
	i {
		color: #ddd;
		font-size: em(42px);
		margin: 10px 20px;
		&:hover {
			color: #fff;
		}
	}
	p {
		font-size: em(14px);
	}
}
.footer__logo {
	background: url(../../img/logo.png) left top no-repeat;
	background-size: 100%;
	height: 82px;
	margin: 75px auto 20px auto;
	max-width: 82px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	width: 20%;
}

.fade-screen {
    background-color: #1d1d1d;
    display: block;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}